@import 'tailwindcss';

/* O las tradicionales si el import falla */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Esta es la clave: forzamos que la variable de Next.js se asigne a la fuente sans */
    --font-sans: var(--font-poppins);
  }

  html,
  body {
    font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif !important;
  }
}
